body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url("http://static.politico.com/2d/e8/1076edab470f9707a8f87ae11614/emptydebatestage.jpg");
  background-size: cover;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:100%;
  position:absolute;
}
img.trump{
  max-height:200px;
  max-width:200px;
}
img.hillary{
  max-height:200px;
  max-width:200px;
}
